<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/assets/img/Favicon.svg">
        {% hook "seo" %}
        {# <title>{% if entry is defined and entry.title is not empty %}{{ entry.title }} | {% endif %} {{ systemName }}</title> #}
         {% css "/assets/css/app.css" %}
    </head>

    <body>

     <div class="container">
        <div class="flex-box">

          <header>
              {% include '_layout/_header.twig'%}
          </header>

              {% block main %}
              {% endblock %}

        </div>

          <footer>
              {% include '_layout/_footer.twig'%}
          </footer>

      </div>

        <!-- must be above all other scipts -->
        {% js "https://unpkg.com/@popperjs/core@2" %}
        {% js "https://unpkg.com/tippy.js@6" %}

        {% js "/assets/js/Tippy.js" %}
        {% js "/assets/js/disablescroll.js" %}

        {% js "/assets/js/video-overlay.js" %}
        {% js "https://kit.fontawesome.com/f00e0f6e3c.js" %}
        {% js "/assets/js/script.js" %}

    </body>

</html>